.menu-banner {
    height: 200px;
    background-image: url('../images/banner-header.png');
    background-size: contain;
  background-position: center;
}

.carousel-item-img {
    background-image: url('../images/galery1.jpg');
    height: 500px;
   
}

.about-us p {
  line-height: 3;
  height: 100%;
}
