* {
  font-size: 18px;
}

body {
  background-color: #800000c0;
}

.btn-primary {
  background: #800000;
  border-color: #800000;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffd700;
  border-color: #800000;
}

.btn-primary:active {
  background-color: #ffd700;
  border-color: #800000;
}

.btn-primary:focus {
  background-color: #ffd700;
  border-color: #800000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffd700;
}

.box-shadow {
  box-shadow: 10px 10px 5px;
}

header {
  .nav-link:active {
    color: #800000;
    text-decoration: underline;
  }
  .nav-link:hover {
    color: #800000;
    text-decoration: underline;
  }
}

main {
  max-width: 1440px;

  .section-body {
    border-radius: 20px;
  }

  #calendar {
    .calendar-wrap {
      border-radius: 20px;
      max-width: 500px;
    }

    .calendar-layout {
      .row {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
      }

      .title:after {
        content: "";
        display: block;
        height: 2px;
        background-color: #800000;
        margin-top: 10px;
      }

      .day {
        flex-grow: 1;
        text-align: center;
        padding: 5px;
        border-radius: 30px;
        border: solid 2px transparent;
        cursor: pointer;
      }

      .day.today {
        background-color: #800000;
        color: #ffffff;
      }

      .day:hover {
        color: #ffd700;
        border: solid 2px #ffd700;
      }

      .day:active {
        border: solid 2px #ffd700;
      }
    }
  }

  #poster {
    .container {
      display: flex;
    }
    .container .film {
      width: 500px;
    }
  }

  .card {
    position: relative;
    border-radius: 20px;
  }

  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #800000;
    color: #fff;
    transition: opacity 0.3s ease;
    border-radius: 20px;
  }

  .card:hover .text-overlay {
    opacity: 1;
  }

  .carousel-item-img {
    background-image: url("../images/galery1.jpg");
    height: 500px;
  }

  .about-us p {
    line-height: 3;
    height: 100%;
  }
}

footer {
  height: 200px;
}
