main {
  max-width: 1440px;
}


#poster .container {
  display: flex;
}
#poster .container .film {
  width: 500px;
  
}

.carousel-item-img {
    background-image: url('../images/galery1.jpg');
    height: 500px;
   
}

.about-us p {
  line-height: 3;
  height: 100%;
}

footer{
  height: 200px;
}
